html
    head
        title next
        //link(href="/css/style.css",rel="stylesheet",type="text/css")
    body
        include ./header.pug
        p.description lorem ipsum  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ,  #{user.displayName}. 
        h2 Hello #{user2}
        a.login-button(href="/logged") Click here go back!
        include ./footer.pug