html
    include ./htmlHead.pug    
    body
        include ./header.pug
        p.description This is next page and you still see your name, #{user.displayName}. You are logged with Google.
      
        a.button(href="/logged") Click here go back!
        include ./footer.pug